@import "tailwindcss";

:root{
  --primary:#B68D40;
  --secondary:#F8F5F2;
  --dark:#242424;
  --text:#555;
  --white:#fff;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--secondary);
  color:var(--text);
  font-family:var(--font-poppins);
}

.font-title{
  font-family:var(--font-cormorant);
}

.section{
  padding:100px 20px;
}

.container-custom{
  max-width:1200px;
  margin:auto;
}

.glass{
  background:rgba(255,255,255,.7);
  backdrop-filter:blur(18px);
  border:1px solid rgba(255,255,255,.3);
}

.gold{
  color:var(--primary);
}

.button-primary{
  background:var(--primary);
  color:white;
  padding:14px 32px;
  border-radius:999px;
  transition:.3s;
}

.button-primary:hover{
  transform:translateY(-3px);
}

.shadow-soft{
  box-shadow:
  0 10px 40px rgba(0,0,0,.08);
}